.fondoTarea{
    background-color: #123349;
    border-bottom: 6px solid black;
}

ul li span{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul span.done {
    text-decoration: line-through;
}

.list-group-item:hover {
    background-color: #123349;
}

  .list-group-item:hover span {
    color: white;
}